<div [ngSwitch]="formField.formFieldType" *ngIf="!formField.hidden">
    <h1 *ngSwitchCase="FormFieldType.Header1" class="is-size-2 mb-3">{{formField.config.text}}</h1>
    <h2 *ngSwitchCase="FormFieldType.Header2" class="is-size-3 mb-3">{{formField.config.text}}</h2>
    <h3 *ngSwitchCase="FormFieldType.Header3" class="is-size-4 mb-3">{{formField.config.text}}</h3>
    <p *ngSwitchCase="FormFieldType.Paragraf" class="mb-3">{{formField.config.text}}</p>

    <!-- Custom components etc -->
    <div class="is-flex is-flex-direction-column mb-3" *ngSwitchCase="FormFieldType.TextInput">
      <label class="has-text-weight-semibold mb-1">{{formField.config.text}}<span class="ml-1" *ngIf="formField.config.required"
          style="color: red">*</span></label>
      <input [formControl]="controlAsFormControl" class="input display-input">
    </div>
    <div class="is-flex is-flex-direction-column mb-3" *ngSwitchCase="FormFieldType.NumberInput">
      <label class="has-text-weight-semibold mb-1">{{formField.config.text}}<span class="ml-1" *ngIf="formField.config.required"
          style="color: red">*</span></label>
      <input [formControl]="controlAsFormControl" [mask]="'000000000000000000000000000000000000000000000'" class="input display-input">
    </div>
    <div class="is-flex is-flex-direction-column mb-3" *ngSwitchCase="FormFieldType.MoneyInput">
      <label class="has-text-weight-semibold mb-1">{{formField.config.text}}<span class="ml-1" *ngIf="formField.config.required"
          style="color: red">*</span></label>
      <input [formControl]="controlAsFormControl" mask="separator" thousandSeparator="." class="input display-input">
    </div>

    <div *ngSwitchCase="FormFieldType.OptionsInput" class="mb-3 is-flex is-flex-direction-column">
        <label class="has-text-weight-semibold mb-1">{{formField.config.text}}<span class="ml-1" *ngIf="formField.config.required"
          style="color: red">*</span></label>
        <div>
            <div class="select">
                <select [formControl]="controlAsFormControl">
                    <option *ngFor="let option of formField.config.options">{{option}}</option>
                  </select>
              </div>
          </div>
    </div>
    <div *ngSwitchCase="FormFieldType.Group" [class.has-group-border]="formField.config.hasBorder">
      <div class="columns">
        <div class="column">
          <app-form-field-display *ngFor="let field of formField.config.formFieldsColumn1" [formField]="field" [formGroup]="controlAsFormGroup"></app-form-field-display>
        </div>
        <div class="column">
            <app-form-field-display *ngFor="let field of formField.config.formFieldsColumn2" [formField]="field" [formGroup]="controlAsFormGroup"></app-form-field-display>
        </div>
      </div>
    </div>
    <hr *ngSwitchCase="FormFieldType.Divider">
  </div>