.display-input {
    max-width: 200px;
}

.required:after {
    content:" *";
    color: red;
  }

  .has-group-border {
      padding: 20px;
      border: 1px solid #a9a9a9;
      border-radius: 5px;
  }