<aside class="menu">
  <div class="menu-content">

    <p class="menu-label">
      Form fields
    </p>
    <ul class="menu-list" cdkDropList #formFieldOptionsList="cdkDropList" [cdkDropListData]="formFieldOptions"
      [cdkDropListConnectedTo]="[chosenFormOptions]">
      <li *ngFor="let formitem of formFieldOptions" cdkDrag>{{formitem.name}}</li>
    </ul>
    <p class="menu-label">Text</p>
    <ul class="menu-list" cdkDropList #formTextOptionsList="cdkDropList" [cdkDropListData]="formTextOptions"
      [cdkDropListConnectedTo]="[chosenFormOptions]">
      <li *ngFor="let formitem of formTextOptions" cdkDrag>{{formitem.name}}</li>
    </ul>
    <p class="menu-label">Spacing</p>
    <ul class="menu-list">
      <ul class="menu-list" cdkDropList #formTextOptionsList="cdkDropList" [cdkDropListData]="formSpacingOptions"
      [cdkDropListConnectedTo]="[chosenFormOptions]">
      <li *ngFor="let formitem of formSpacingOptions" cdkDrag>{{formitem.name}}</li>
    </ul>
    </ul>
  </div>
</aside>


<div class="content">
  <div class="is-flex is-justify-content-center is-align-content-center is-flex-direction-column">
    <h2>Sektioner</h2>
    <div class="is-flex">
      <button class="button mr-2" [class.has-background-success]="i === activeSection" 
      [class.has-text-white]="i === activeSection" (click)="activeSection = i" *ngFor="let section of sections; let i = index">
      {{i + 1}}
    </button>
  </div>
  <button class="button mt-2" (click)="addSection('Stuff')">Tilføj ny sektion</button>
</div>
  <hr>

  <div class="columns">
    <div class="column">
      <h2>Form builder</h2>
      <div cdkDropList #chosenFormOptions="cdkDropList" [cdkDropListData]="sections[activeSection]"
      [cdkDropListConnectedTo]="[formFieldOptionsList, formTextOptionsList]" class="movie-list"
      (cdkDropListDropped)="onDrop($event)">
      <div class="movie-block" *ngFor="let formItem of sections[activeSection]; let i = index" cdkDrag>
        <div class="is-flex is-justify-content-space-between selected-options-container">
          <p>{{formItem.name}}</p>
          <ng-container *ngIf="formItem.formFieldType !== FormFieldType.Divider">
            <textarea width="300px" height="300px" [formControl]="optionControls[formItem.id!]"></textarea>
          </ng-container>
          <button class="button" (click)="removeItem(i)">Slet</button>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <h2>Preview</h2>
    <hr>
    <app-form-viewer [sections]="sections"></app-form-viewer>
  </div>
</div>
</div>