<aside class="menu">
  <div class="menu-content">
    <p class="menu-label">
      Form fields
    </p>
    <ul class="menu-list" cdkDropList #formFieldOptionsList="cdkDropList" [cdkDropListData]="formFieldOptions"
      [cdkDropListConnectedTo]="dropListIds">
      <li *ngFor="let formitem of formFieldOptions" cdkDrag>{{formitem.name}}</li>
    </ul>
    <p class="menu-label">Text</p>
    <ul class="menu-list" cdkDropList #formTextOptionsList="cdkDropList" [cdkDropListData]="formTextOptions"
      [cdkDropListConnectedTo]="dropListIds">
      <li *ngFor="let formitem of formTextOptions" cdkDrag>{{formitem.name}}</li>
    </ul>
    <p class="menu-label">Layout</p>
    <ul class="menu-list">
      <ul class="menu-list" cdkDropList #formTextOptionsList="cdkDropList" [cdkDropListData]="formSpacingOptions"
        [cdkDropListConnectedTo]="dropListIds">
        <li *ngFor="let formitem of formSpacingOptions" cdkDrag>{{formitem.name}}</li>
      </ul>
    </ul>
    </div>
    <!-- <button (click)="exportForm()">Export</button> -->
    {{exportedForm}}
</aside>



<div class="builder-content">
  <div class="is-flex is-justify-content-center is-align-content-center is-flex-direction-column">
    <h2>Sektioner</h2>
    <div class="is-flex">
      <button class="button mr-2" [class.has-background-success]="i === activeSection"
        [class.has-text-white]="i === activeSection" (click)="activeSection = i"
        *ngFor="let section of sections; let i = index">
      <i (click)="removeSection(i)" class="ms-Icon ms-font-m ms-Icon--Delete ms-fontColor-black mr-2"></i>
      <p>{{i + 1}} | [{{section.length}} Elementer]</p>
      </button>
    </div>
    <button class="button mt-2" (click)="addSection('Stuff')">Tilføj ny sektion</button>
  </div>
  <hr>

  <div class="columns">
    <div class="column">
      <div class="is-flex">
        <h2>Form builder</h2>
        <button class="button ml-3" (click)="closeAll()">Luk alle</button>
      </div>
        <app-form-field-drop-list [dropListId]="'sectionList'" [targetArray]="sections[activeSection]"
         [fieldControls]="fieldControls"></app-form-field-drop-list>
    </div>
    <div class="column">
      <h2>Preview</h2>
      <hr>
      <app-form-viewer [sections]="sections" [activeSection]="activeSection" [fieldControls]="fieldControls"></app-form-viewer>
    </div>
  </div>

  <ng-template #emptyTemplate>
    <div></div>
  </ng-template>

  <app-edit-input-group-modal [fieldControls]="fieldControls" [formField]="ModalDataManager.FormGroupModalItemBeingEdited"></app-edit-input-group-modal>
  <app-logic-rules-modal [fieldControls]="fieldControls"></app-logic-rules-modal>
</div>