<!-- <div [class.has-group-border]="formField.config.hasBorder">
    <div class="columns">
      <div class="column">
        <app-form-field-display *ngFor="let field of formField.config.formFieldsColumn1" [formField]="field" [formGroup]="controlAsFormGroup"></app-form-field-display>
      </div>
      <div class="column">
          <app-form-field-display *ngFor="let field of formField.config.formFieldsColumn2" [formField]="field" [formGroup]="controlAsFormGroup"></app-form-field-display>
      </div>
    </div>
    <button class="button is-green">Tilføj ny</button>
  </div> -->