<div *ngFor="let section of sections">
    <div *ngFor="let item of section">
        <div [ngSwitch]="item.formFieldType">
            <h1 *ngSwitchCase="FormFieldType.Header1">{{item.configuredOptions.text}}</h1>
            <h2 *ngSwitchCase="FormFieldType.Header2">{{item.configuredOptions.text}}</h2>
            <h3 *ngSwitchCase="FormFieldType.Header3">{{item.configuredOptions.text}}</h3>
            
            <!-- Custom components etc -->
            <ng-container *ngSwitchCase="FormFieldType.TextInput">
                <p>{{item.configuredOptions.text}}</p>
                <input>
            </ng-container>
            <input *ngSwitchCase="FormFieldType.NumberInput">
            <input *ngSwitchCase="FormFieldType.MoneyInput">
            <hr *ngSwitchCase="FormFieldType.Divider">
            <p *ngSwitchCase="FormFieldType.Paragraf">{{item.configuredOptions.text}}</p>
        </div>
    </div>
<div>